.box{
  background-color: #000000;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  
}
 .site-footer {

    color: #b3b0b0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px 0 0 0;
  width: 100%;
 
  background: rgba(25, 25, 25, 0.58);
backdrop-filter: blur(18px);
-webkit-backdrop-filter: blur(18px);
 
;
  border: 2px solid rgb(62, 61, 61);
  border-radius: 12px;
  box-shadow: 0 -8px 30px rgba(0, 0, 0, 0.12);
}

.footer-container {
  max-width: 1200px;
 
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}
.footer-section {
  flex: 1;
  min-width: 220px;
}
.footer-about .footer-logo {
  font-family: "Playfair Display", "Georgia", serif;
 color:#f0f1f2; 
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 700;
}
.footer-about .footer-logo span {
   color:#f0f1f2; 
}
.footer-about .footer-logo span.dash {
 color:#edeff0;  
}
.footer-about p {
  line-height: 1.6;
  font-size: 12px;
  margin-bottom: 20px;
   color:#d9dbdb; 
}
.social-links {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 15px;
}
.social-links a {
  color: #b3b0b0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition:
    color 0.2s ease,
    transform 0.2s ease;

}
.social-links a svg {
  width: 35px;
  height: 35px;
  transition: stroke 0.2s ease;
}
.social-links a:hover {
  color: #f1f4f5;
  transform: translateY(-3px);
}
.footer-section h4 {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 8px;
}


.footer-section h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 2px;
  background-color: #cfcfcf;
}
.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
    color: #b0b0b0;
}


.footer-section ul li {
  margin-bottom: 12px;

}

.footer-section ul li a {
  color: #b0b0b0;
  text-decoration: none;
  font-size: 18px;
  transition:
    padding-left 0.3s ease,
    color 0.3s ease;
     
                 
}

.footer-section ul li a:hover {
  color: #ffffff;
  padding-left: 5px;
}
.footer-links{
  color: #b0b0b0;
}
.footer-links :hover{
  color: #f7f4f4;
}
.footer-section p{
   color: #b0b0b0;
}

.footer-section a{
   color: #b0b0b0;
   text-decoration: none;
}
.footer-contact :hover{
   color: #fffdfd;
}
.footer-bottom {
   background: rgba(25, 25, 25, 0.58);
  padding: 10px 0;
  margin-top: 10px;
  border-top: 1px solid #353536;
}
.footer-bottom-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  font-size: 15px;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 30px;
  }
  .footer-bottom-content {
    flex-direction: column;
    text-align: center;
  }
}
