.site-footer {
  background-color: #0f172a;
  color: #b0b0b0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px 0 0 0;
  width: 100%;
}
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}
.footer-section {
  flex: 1;
  min-width: 220px;
}
.footer-about .footer-logo {
  font-family: "Playfair Display", "Georgia", serif;
 color:#38bdf8; 
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: 700;
}
.footer-about .footer-logo span {
   color:#38bdf8; 
}
.footer-about .footer-logo span.dash {
 color:#38bdf8;  
}
.footer-about p {
  line-height: 1.6;
  font-size: 15px;
  margin-bottom: 20px;
}
.social-links {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 15px;
}
.social-links a {
  color: #d4d0d0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition:
    color 0.2s ease,
    transform 0.2s ease;
}
.social-links a svg {
  width: 35px;
  height: 35px;
  transition: stroke 0.2s ease;
}
.social-links a:hover {
  color: #38bdf8;
  transform: translateY(-3px);
}
.footer-section h4 {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 8px;
}

.footer-section h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 2px;
  background-color: #38bdf8;
}
.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 12px;
}

.footer-section ul li a {
  color: #b0b0b0;
  text-decoration: none;
  font-size: 18px;
  transition:
    padding-left 0.3s ease,
    color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #ffffff;
  padding-left: 5px;
}

.footer-bottom {
  background-color: #1e293b;
  padding: 10px 0;
  margin-top: 10px;
  border-top: 1px solid #0a2146;
}
.footer-bottom-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  font-size: 15px;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 30px;
  }
  .footer-bottom-content {
    flex-direction: column;
    text-align: center;
  }
}
