@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html,
  body,
  #root {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    width: 100% !important;
    max-width: 100% !important;
    overflow-x: hidden;

  }
}
@keyframes continuous-smooth-loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-continuous-loop {
  animation: continuous-smooth-loop 25s linear infinite;
}
